*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
html,body{
        height: 100%;
        width: 100%;
}
#main{
        height: 500vh;
}
.pages{
        padding: 20px;
        height: 20%;
        width: 100%;

        font-size: 25px;
        font-family: 'Gilroy';
        color: aliceblue;
        font-weight: bolder;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
        -1px 1px 0 #000, 1px 1px 0 #000; color: white;

        display: flex;
        justify-content: center;
        align-items: center;

        background: url("MEDIA/flat-design-baby-shower-zoom-background/6514482.jpg") no-repeat fixed center;
        background-size: cover;
        background-repeat: inherit;
}
#page1{
        font-size: 50px;
}
#page2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
#page4{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
#page5{
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
#img{
        height: 75vh;
        width: 75vw;
        background: url(/MEDIA/sakshi.png) no-repeat;
        background-size: contain;
}
#img2{
        height: 25vh;
        width: 50vw;
        background: url(/MEDIA/Paimon-Transparent-PNG.png) no-repeat;
        background-size: contain;
}
